{% extends "layout.html" %}

{% block title %} login  {% endblock %}

{% block style %}


  #login {
        margin-top:100px;
        padding:40px;
        font-family: 'Righteous', cursive;
        font-size: 30px;
        background-image: url("static/image/background2.jpg");
        background-size: 100%;
  }

{% endblock %}


{% block main %}



<div class="container col-sm-6" id="login" >

<form method="post" action="{{ url_for('login') }}">
    <div class="form-group">
    <p><label>Username</label><input type=text name=username>
    <p><label>Password</label><input type=password name=password >
    <p>
       <input type=submit value=Login>
        <button><a href="{{ url_for('reg') }}" >Registration</a></button>
    </p>

    </div>
    {% if message %}
       {{ message }}
    {% endif %}
</form>

</div>

{% endblock %}

