{% extends "layout.html" %}

{% block title %} search  {% endblock %}

{% block style %}

 #search {
        margin-top:100px;
        padding:40px;
        padding-bottom:120px;
        padding-left: 80px;
        font-family: 'Righteous', cursive;
        font-size: 30px;

  }

{% endblock %}

{% block main %}


<div class="container col-sm-6" id="search" >

<form method="post" action="{{url_for('search')}}">
    <div class="form-group">

        <select name="select">
            <option selected="selected" >ISBN</option>
            <option>TITLE</option>
            <option>AUTHOR</option>
            <option>YEAR</option>
        </select>

        <input type="search" name="search">

  </div>
</form>

{% if message %}
   {{ message }}
{% endif %}


</div>

{% endblock %}

